<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MoleAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MoleAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <MoleAssist.Properties.Settings>
      <setting name="FightInterval" serializeAs="String">
        <value>750</value>
      </setting>
    </MoleAssist.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <MoleAssist.Properties.Settings>
      <setting name="SkillOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="isAutoIdentify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoIdentifyFailed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReHP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useAnger" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="alert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="qucikTraining" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="couldHiddenMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="customPoint" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="OnTop" serializeAs="String">
        <value>False</value>
      </setting>
    </MoleAssist.Properties.Settings>
  </userSettings>
</configuration>